.Nero{background: black;}
.Rosso{background: red;}
.Rosa{background: pink;}
.Blu{background: blue;}
.Grigio{background: red;}
.Bianco{background: white;}
.Giallo{background: yellow;}
.Beige{background: beige;}
.Viola{background: purple;}
.Arancione{background: orange;}
.Verde{background: green;}
.Marrone{background: brown;}